*{
    margin: 0;
    padding: 0;
}

body,
button{
    font-family: 'Montserrat', sans-serif;;
}



#first-nav{
    padding: 12px;
    text-align: right;
    background: lightgray;

}

#second-nav{
    padding: 12px;
    background: white;
    }

#second-nav img{
    height: 80px;
}

#banner{
    padding:80px;
    text-align: center;
    background: lightblue;
    background-image: url(https://placeimg.com/640/480/tech);

}

#banner button,
#banner h1{
    margin: 12px;
    color: white;
    }

#banner h1{
    font-size: 60px;
 }

 #banner button{
     padding: 6px 6px;
     background: white;
     border: 1px solid white;   
     border-radius: 3px;
     color: black;
 }


#items{ 
    display: flex;
    justify-content: space-evenly;
    padding: 40px;

}

#items div{
    width: 24%;
    text-align: center;
    background: white;


}

#items div img{
    width: 100%;
}

#items div p{
    margin: 12px;
    line-height: 24px;

}

.negrita{
    font-weight: bold;
}


.tachado{
    text-decoration: line-through;
}

.precio{
    font-weight: bold;
}

.off{
    color: forestgreen;
}

.tachado,
.precio,
.off{
    display: block;
}

#footer{
    background: lightgray;
}


